.ant-layout-header {
    background: gold;
    text-align: center;
    height: 5rem;
}

.ant-layout-footer {
    background: lightgray;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
}

.login-button {
    float: right;
    background: #61dafb;
}

.site-layout-content {
    background: lightpink;
    height: 100%;
}

.sider {
    background: orange;
}
